data/8023ck_channels/**/*.s4p filter=lfs diff=lfs merge=lfs -text
data/8023ck_channels/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
data/8023ck_channels/com_reference/*.m filter=lfs diff=lfs merge=lfs -text
